.her {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.progress-container {
  background-color: rgba(150, 150, 150, 0.6);
  height: 5px;
  width: 100%;
}

.progress-bar {
  background-color: #2196f3;
  height: 5px;
  width: 0%;
}

.content {
  padding: 2em;
}

